<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<section class="mj-nav-section clearfix">
		<div class="mj-nav-container clearfix">
			<nav class="navbar navbar-expand-lg navbar-light "  data-spy="affix" data-offset-top="205" id="mj_nav"> <!-- fixed-top -->
				<div class="nav-bdy-content">
			  		<div class="nav-container-logo navbar-nav mr-auto ">
			  			<a href="#" class="logo-container-anchor">
			  				<img src="images/logo.png">
			  			</a>
			  		</div>
			  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			    		<span class="navbar-toggler-icon"></span>
			  		</button>
			  		<div class="collapse navbar-collapse" id="navbarNavDropdown">
					    <ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link nav-link-a nav-cont active" href="index.html">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-link-a nav-cont dropdown-toggle" href="#">Chooses City</a>
								<div class="Secondary-nav" >
									<a class="dropdown-item" href="#">  Sydney  </a>
									<a class="dropdown-item" href="#"> Melbourne </a>
									<a class="dropdown-item" href="#"> Perth   </a>
									<a class="dropdown-item" href="#"> Brisbane  </a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-link-a nav-cont dropdown-toggle" href="#">Services</a>
								<div class="Secondary-nav" >
									<a class="dropdown-item" href="#">House Cleaning</a>
									<a class="dropdown-item" href="#">Window Cleaning</a>
									<a class="dropdown-item" href="#">Carpets/Furniture</a>
									<a class="dropdown-item" href="#">Office Cleaning</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-link-a nav-cont" href="#">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-link-a nav-cont dropdown-toggle" href="#">Links</a>
								<div class="Secondary-nav" >
									<a class="dropdown-item" href="#">Our Team</a>
									<a class="dropdown-item" href="#">Blog</a>
									<a class="dropdown-item" href="#">Contact Us</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link nav-link-a btn nav-btn" href="#">Book Online</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link nav-link-a nav-login" href="#" data-toggle="modal" data-target="#Loginmodel">Login</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link nav-link-a nav-signup" href="#" data-toggle="modal" data-target="#signupmodel" >Sign Up</a>
							</li>
						</ul>
				  	</div>
				</div>
			</nav>
			<!--Login  Modal -->
			<div class="modal  fade mg-model " id="Loginmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<div class="mj-model-header">
								<div class="mj-model-header-logo">
									<img src="images/logo.png">
								</div>
								<span class="mj-modelspan">
									Connect with majestic cleaning pros for better cleaning services 
								</span>
							</div>
							<div class="mj-model-bdy">
								<div class="mj-social-login">
									<a href="#" class="btn mj-model-btn mj-btn-fb ">
										<span class="mj-model-btn-icon">
											<i class="fa fa-facebook"></i>
										</span>
										Log in with Facebook
									</a>
									<a href="#" class="btn mj-model-btn mj-btn-google">
										<span class="mj-model-btn-icon">
											<i class="fa fa-google"></i>
										</span>
										Log in with Google
									</a>
								</div>
								<div class="mj-divder">
									<div>OR </div>
								</div>
								<div class="mj-login-form">
									<div class="row">
										<div class="col-12">
											<input type="email" name="email" class="mj-model-input" placeholder="Email">
										</div>
										<div class="col-12">
											<input type="Password" name="password" class="mj-model-input" placeholder="Password">
										</div>
										<div class="col-12">
											<a href="#" class="btn mg-btn-primary mj-modelbtn">Log In</a>
										</div>
									</div>
								</div>
								<div class="mj-model-footer">
									<div class="mj-pvc-p">
										<a href="#" class="mj-fpanchor">Forgot Password?</a>
										
									</div>
									<div class="mj-anchorfooter">
										<a href="#"  data-dismiss="modal" data-toggle="modal" data-target="#signupmodel" >I dont have account | Signup</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade mg-model" id="signupmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<div class="mj-model-header">
								<div class="mj-model-header-logo">
									<img src="images/logo.png">
								</div>
								<span class="mj-modelspan">
									Connect with majestic cleaning pros for better cleaning services 
								</span>
							</div>
							<div class="mj-model-bdy">
								<div class="mj-social-login">
									<a href="#" class="btn mj-model-btn mj-btn-fb ">
										<span class="mj-model-btn-icon">
											<i class="fa fa-facebook"></i>
										</span>
										Signup with Facebook
									</a>
									<a href="#" class="btn mj-model-btn mj-btn-google">
										<span class="mj-model-btn-icon">
											<i class="fa fa-google"></i>
										</span>
										Signup with Google
									</a>
								</div>
								<div class="mj-divder">
									<div>OR </div>
								</div>
								<div class="mj-login-form">
									<div class="row">
										<div class="col-12">
											<input type="text" name="name" class="mj-model-input" placeholder="Name">
										</div>
										<div class="col-12">
											<input type="text" name="phone" class="mj-model-input" placeholder="Phone">
										</div>
										<div class="col-12">
											<input type="email" name="email" class="mj-model-input" placeholder="Email">
										</div>
										<div class="col-12">
											<input type="Password" name="password" class="mj-model-input" placeholder="Password">
										</div>
										<div class="col-12">
											<a href="#" class="btn mg-btn-primary mj-modelbtn">Sign Up</a>
										</div>
									</div>
								</div>
								<div class="mj-model-footer">
									<div class="mj-pvc-p">
										<!-- <a href="#" class="mj-fpanchor">Forgot Password?</a> -->
										<p>
											By signing up, you agree to Classmonks 
											<a href="#"> Terms & condition</a> 
											and 
											<a href="#">Privacy Policy</a>
										</p>
									</div>
									<div class="mj-anchorfooter">
										<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#Loginmodel" >I already have an account | login</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="mj-bdy-section mj-banner-section">
		<div class="mj-bdy-container mj-">
			<div class="mj-header-content">
				<h1 class="mj-header">
					About Us
				</h1>
			</div>
		</div>
	</section>
	<section class="mj-bdy-section mj-bdy-blog">
		<div class="mj-bdy-container">
			<div class="mj-bdy-content mj-services-content">
				<!-- <div class="mj-header-content">
					<h1 class="mj-header">
						New Way To Clean Your Houses Clean and Tidy
					</h1>
				</div> -->
				<div class="mj-inside-bdy row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
						<div class="mg-blog-card" >
							<img src="images/galaxy2000-heater.jpg" class="img-fluid">
							<div class="mg-blog-info">
								<h4>About US</h4>
								<!-- <span>
									12 September 2019
								</span> -->
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique sollicitudin nibh sit amet. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Nisl rhoncus mattis rhoncus urna neque viverra. Velit sed ullamcorper morbi tincidunt ornare massa eget. At augue eget arcu dictum varius duis at consectetur. Massa sed elementum tempus egestas sed sed risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</p>
								<!-- <a href="#"> Read More  &gt;&gt; </a> -->
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
						<div class="mg-blog-sidecard" >
							<h4 class="sidecard-header">Recent Blog</h4>
							<div class="sidecard-content ">
								<div class="sidecard-post">
									<a href="#" class="sidecard-post-title">
										New Cleaning With Hydrogen Peroxide Tips
									</a>
									<span class="sidecard-post-meta">
										12 September 2019
									</span>
								</div>
								<div class="sidecard-post">
									<a href="#" class="sidecard-post-title">
										Housekeeping blogs
									</a>
									<span class="sidecard-post-meta">
										12 September 2019
									</span>
								</div>
								<div class="sidecard-post">
									<a href="#" class="sidecard-post-title">
										The Best thing You Can Do For Your Furniture
									</a>
									<span class="sidecard-post-meta">
										12 September 2019
									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="mj-inside-bdy row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
						<div class="mg-blog-card" >
							<img src="images/cleaning+service.jpeg" class="img-fluid">
							<div class="mg-blog-info">
								<h4>Reliable Team</h4>
								<!-- <span>
									12 September 2019
								</span> -->
									<p>
										Our cleaning services are affordable and our cleaning experts are highly trained. If for any reason you aren't happy with our proffessional cleaning services, contact majestic cleaning pros. We will come back and clean the specifoc areas tjat didn't meet your expectations.
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique sollicitudin nibh sit amet. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Nisl rhoncus mattis rhoncus urna neque viverra. Velit sed ullamcorper morbi tincidunt ornare massa eget. At augue eget arcu dictum varius duis at consectetur. Massa sed elementum tempus egestas sed sed risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</p>
								<!-- <a href="#"> Read More  &gt;&gt; </a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="mj-bdy-section mr-book-banner">
		<div class="mj-bdy-container">
			<div class="mj-bdy-content mj-services-content">
				<div class="mj-inside-bdy row">
					<div class="col-xs-12 col-6">
						<h2>Ready to book with us?</h2>
					</div>
					<div class="col-xs-12 col-6">
						<a href="#" class="btn mg-btn-primary">
							Book Online
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="mj-bdy-section mr-map-banner">
		<div class="mj-map-container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3387.196962668055!2d115.87352131523328!3d-31.901245427063248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32b00d2c9333ad%3A0x257190a24615e770!2s146B%20Woodrow%20Ave%2C%20Dianella%20WA%206059%2C%20Australia!5e0!3m2!1sen!2snp!4v1573157972376!5m2!1sen!2snp" width="1800" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
	</section>
	<section class="mj-bdy-section mr-newsletter-section">
		<div class="mj-bdy-container">
			<div class="mj-bdy-content mj-services-content">
				<div class="mj-header-content">
					<h1 class="mj-header">
						Newsletter
					</h1>
					<span class="mj-span"> 
						Subscribe to majestic, So that we can keep  you posted.
					</span>
				</div>
				<div class="mj-inside-bdy row mj-newsletter-container">
					<div class="col-12">
						<input type="text" name="name" placeholder="Name" class="mj-newsletter-name">
					</div>
					<div class="col-12">
						<input type="email" name="name" placeholder="E-mail" class="mj-newsletter-email" >
					</div>
					<div class="col-12">
						<a href="#" class="btn mg-btn-primary">Subscribe</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="mj-footer">
		<div class="mj-footer-container ">
			<div class="mj-footer-bdy row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ft-logo">
					<img src="images/logo.png">
					<div class="ft-socialmedia row">
							<a href="#" >
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="#">
								<i class="fa fa-google-plus-g"></i>
							</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ft-link">
					<h4>Information</h4>
					<div class="row ft-link-container">
						<div class="col-xs-12 col-6">
							<a href="#">
								Home
							</a>
						</div>
						<div class="col-xs-12 col-6">
							<a href="#">
								Choose City
							</a>
						</div>
						<div class="col-xs-12 col-6">
							<a href="#">
								Services
							</a>
						</div>
						<div class="col-xs-12 col-6">
							<a href="#">
								About
							</a>
							 
						</div>
						<div class="col-xs-12 col-6">
							<a href="#">
								Blog
							</a>
						</div>
						<div class="col-xs-12 col-6">
							<a href="#">
								Testimonials
							</a>
						</div>
						<div class="col-xs-12 col-6">
							<a href="#">
								Login
							</a>
						</div>
						<div class="col-xs-12 col-6">
							<a href="#">
								Sign Up
							</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ft-link">
					<h4>Contact Us</h4>
					<div class="row ft-contact-container">
						<div class="col-12">
							<label>Phone: <span> +61406297396</span></label>
						</div>
						<div class="col-12">
							<label>Email: <span> Sujanshrestha2044@gmail.com</span></label>
						</div>
						<div class="col-12">
							<label>Location: <span> 146 B Woodrow Av, Dianella, AU, 6059</span></label>
						</div>

					</div>
				</div>
				<div class="col-12 mj-footerbottom">
					<span>
						Majestic Cleaning Pros &copy; 2019 All rights reserved.						
						Developed and maintained by <a href="#" class="mj-develp-a">Alphatech</a>
					</span>
					<div class="mj-develp-info">						
					<a href="#"> Privacy Policy </a>
					<a href="#">Terms and Conditions</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>